body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.header{
    margin-top: 0;
    padding: 0;
    margin-bottom: 10px;
}
.content{
    margin-top: 50px;
    margin-left: 500px;
    display: inline-block;
    width: 300px;
    height: 75px;
    padding: 0px 26px;
    background-color: #0291DB;
    color: white;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    opacity: 0.75;
    font-size: 15px;
    font-family: "Stone Sans ITC TT";
}
.content h3{
    font-family: "Century Gothic";
    font-size: 25px;
}
.content2{
    margin-top: 20px;
    margin-left: 500px;
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 0px 26px;
    background-color: rgb(223, 223, 223);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    opacity: 0.75;
    font-size: 12px;
    font-family: "Stone Sans ITC TT";
}
.content2 h4{
    font-family: "Century Gothic";
    font-size: 20px;
    color: black;
}
input[type="submit"]{
    background-color: rgb(20, 167, 235);
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: white;   
    font-size: 15px;
    border: none;
    width: 80px;
    height: 25px;
}
input[type="submit"]:hover{
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: rgb(20, 167, 235);
    border: 2px solid rgb(20, 167, 235);
    font-size: 15px;
    width: 80px;
    height: 25px;
}
.footer{
    width: 100%;
    color: white;
    background: #0291DB;
    margin-top: 190px;
    overflow: hidden;
    display: block;
    
}

.footer p{
    text-align: center;
}