body{
    margin: 0;
    padding: 0;
}
.block{
    list-style: none;
    float: left;
    margin-top: 0%;
    position: relative;
    background-color:#0291DB;    
    height:750px;
    width: 10%;
}

.head{
    margin-left: 124px;
    height:60pt ;
    border:#BEE17E 1pt solid;
    background-color: #BEE17E;
}
.judul img{
    padding: 5px 5px 5px 20px;
    width: 175pt;
    height: 50pt;
}
.judul p {
    margin-top:-45pt;
    margin-left:230pt;
    font-size: 25pt;
    color: #fff;
    height: 40pt;
    font-family: Century Gothic;
    font-style: bold;
}
.block a img{
    width: 100%;
    margin-top: 0%;
        
}
.block a img:hover{
    color: rgb(255, 255, 255);
    background-color: white;
    font-weight: bold;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}
.block img:hover a{
    color: rgb(255, 255, 255);
    background-color: white;
    font-weight: bold;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}
#mycanvas {
    margin-left: 10%;
}
.button a{
    display: inline;
    font-size: 8pt;
    text-decoration: none;
    float: right;
    color: white;
    font-family: Stone Sans Sem ITC TT;
    margin-top: 40pt;
}
.button a.back{
    border: 5pt solid #59B6E6;
    background-color: #59B6E6;
    border-radius: 10pt;
    padding: 1pt 7pt ;
    margin-right: 100pt;
}
.button a.back:hover{
    background-color: #fff;
    border: 5pt solid #fff;
    color: #59B6E6;
    box-shadow: 1pt 1pt 0 #59B6E6;
    font-weight: bold;
}